<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            service="net.bioclipse.igv.business.IgvManagerFactory"
            id="net.bioclipse.igv.business.IgvManager">
      </scriptContribution>
   </extension>
   
   <extension
   		point="org.eclipse.ui.editors">
    <editor
      name="IGV Editor"
      extensions="igv"
      icon="icons/sample.gif"
      class="net.bioclipse.igv.editors.IgvEditor"
      id="net.bioclipse.igv.editors.IgvEditor">
  	 </editor>
   		</extension>

</plugin>
